@using Proxy.Models
@{
    var part = (ProxyPart) Model.Part;
    var trailingSlash = part.ServiceUrl.EndsWith("/") ? "/" : "";
}
Use 
<a href="@Url.Content(string.Format("~/Proxy/{0}{1}",part.Id, trailingSlash))" target="_blank">@Url.Content(string.Format("~/Proxy/{0}{1}", part.Id, trailingSlash))</a> 
to access <a href="@part.ServiceUrl" target="_blank">@part.ServiceUrl</a>.
